.toggleSelected {
  background-color: #62b06b;
  color: #ffffff;
}

textarea {
  font-family: monospace;
}

.cardContent h4 {
  margin-top: 0;
}

.alignContainer {
  display: table;
  width: 100%;
}

.alignMiddle {
  height: 20em;
  display: table-cell;
  vertical-align: middle;
}

.cardBack {
  display: none;
}

.largerText {
  font-size: 2em;
}

/* disables collapsing header menu */
